.statistics{
    background-image: url(../images/22.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px; 
}

.statistics span{
    text-shadow: 2px 1px black !important;
}