@media (max-width: 1200px){  
    .gallery-img{
        justify-content: center !important;
        & img{
            width: 100% !important;
            margin: 20px 0;
        }
    }
}


@media (max-width: 768px){  
    .gallery-img{
        justify-content: center !important;
        & img{
            width: 100% !important;
            margin: 20px 0;
        }
    }
}
