/* Colors */
$dark-blue: rgb(0, 6, 62);
$light-blue: rgb(125, 162, 169);
$dark: rgb(24, 24, 30);

.dark-blue-bg{
    background-color: $dark-blue;
} 

.light-blue-bg{
    background-color: $light-blue;
}

.my-dark-bg{
    background-color: $dark;
}

*{
    direction: rtl;
    text-align: right;
}

body{
    overflow-x: hidden;
}

@mixin my-btn{
    text-decoration: none !important;
    padding: 8px 30px;
    background-color: rgb(198, 217, 221);
    color: $dark;
    border: none;
    border-radius: 3px;
    transition: all 0.3s;
    &:hover{
        background-color: #7da2a9 !important;
        color: white;
    }
}